
<%= simple_form_for store do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.input :name,     inline_label: "店名: " %>
      <%= f.input :phone,    inline_label: "電話: " %>
      <%= f.input :address,  inline_label: "住址: " %>
      <%= f.input :is_drink, label: "飲料店" %>
    </div>
  </div>

  <%= render "divide" %>

  <div class="row">
    <%= f.simple_fields_for :opts do |opt| %>
      <%= render 'opt_fields', :f => opt %>
    <% end %>
    <%= link_to_add_association '新增選項', f, :opts, class: "btn btn-info pull-right" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary pull-right", data: { disable_with: "Submitting..." } %>
<% end %>
