<h2>訂單頁面</h2>

<h3>
  <%= link_to groupon_products_path(@order.groupon.token) do %>
    還有點餓？
    <i class="fa fa-arrow-circle-left"></i>
  <% end %>
</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>品名</th>
      <th>單價</th>
      <th>數量</th>
      <% unless @order.is_paid? || @order.groupon.times_up? %>
        <th>other</th>
        <th>取消</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.title %></td>
        <td><%= order_item.product.price %></td>

        <% if !@order.is_paid? && !@order.groupon.times_up? %>
          <%= simple_form_for [@order, order_item] do |f| %>
            <td><%= f.input :quantity, label: false, collection: 1..10 %></td>
            <td><%= f.submit "修改數量", class: "btn btn-default" %></td>
          <% end %>
          <td>
            <%= link_to order_order_item_path(@order.token, order_item), method: :delete do %>
              <i class="fa fa-trash fa-2x"></i>
            <% end %>
          </td>
        <% else %>
          <td><%= order_item.quantity %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<h3>總價: <%= @order.price %></h3>

<div class="pull-right">
  <% if @order.is_paid? %>
    <h3> <span class="class label label-info"> 已付款 </span> </h3>
  <% else %>
    <h3> <span class="class label label-danger"> 訂單已成立， </span> </h3>
    <h3> <span class="class label label-danger"> 確認無誤就可以去付錢了。 </span> </h3>
  <% end %>
</div>
